In [2]:
import pandas as pd

In [3]:
data=pd.read_csv("Cust_Purch_FakeData.csv")
data

,prefix,first,last,email,gender,age,company,profession,phone,postal,province,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,MB,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,SK,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,NS,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,YT,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,ON,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,YT,6330000000000000,04/2028,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,04/18/2014
29996,Dr.,Alfred,Bass,le@duridzo.gh,Female,24,Ford Motor Co,Diamond Merchant,(541) 904-3323,T9O 1H6,PE,201000000000000,12/2026,American Express,5.94,White,154.114.74.254,Sunday,pm,09/27/2068
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,QC,201000000000000,06/2021,Maestro,65.66,Black,188.0.106.220,Monday,pm,09/07/1997
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,NS,30000000000000,08/2023,Solo,52.66,Black,129.168.247.27,Monday,pm,09/08/1938
29999,Mr.,Olga,Rodriguez,ner@ota.ec,Male,22,Texas Industries Inc.,Leasing Manager,(841) 962-4087,N2D 5K3,BC,6300000000000000,05/2024,InstaPayment,17.71,Yellow,70.2.107.65,Wednesday,am,06/22/1956

## How many entries your data have? Can you tell the no. of columns in your data?

In [4]:
num_entries = data.shape[0]
num_column = data.shape[1]

In [5]:
print(f" Number of entries ",{num_entries})
print(f" Number of column ",{num_column})

 Number of entries  {30000}
 Number of column  {20}

## What are the max and min ages of your customer? Can you find mean of your customer?

In [6]:
max_age = data['age'].max()
min_age = data['age'].min()

In [7]:
print(f" Maximum age of my customer is ",{max_age})
print(f" Minmum age of my customer is ",{min_age})

 Maximum age of my customer is  {65}
 Minmum age of my customer is  {18}

In [8]:
mean_age= data['age'].mean()

In [9]:
print(f" Mean age of my customer is ",{mean_age})

 Mean age of my customer is  {41.550066666666666}

## What are the three most common customer's names?

In [10]:
data['full_name'] = data['prefix'] + ' ' + data['first'] + ' ' + data['last']

print(data[['prefix', 'first', 'last', 'full_name']].head())

  prefix    first       last               full_name
0    Dr.      Ray     Morton          Dr. Ray Morton
1   Miss  Claudia  Rodriquez  Miss Claudia Rodriquez
2   Miss    Harry      Meyer        Miss Harry Meyer
3   Miss    Edith    Gilbert      Miss Edith Gilbert
4    Dr.     Lura     Murphy         Dr. Lura Murphy

In [11]:
data

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,full_name
0,Dr.,Ray,Morton,sebvajom@kol.km,Male,38,Medtronic Inc.,Health Therapist,(987) 619-2695,B6V 3W3,...,5020000000000230,05/2018,Solo,8.36,Blue,126.23.139.2,Sunday,pm,04/05/1930,Dr. Ray Morton
1,Miss,Claudia,Rodriquez,acu@jatsot.ug,Female,51,"Ames Department Stores, Inc.",Health Therapist,(356) 736-7352,G7M 5F3,...,5020000000000230,07/2028,Visa,68.31,Black,106.198.76.211,Tuesday,am,12/20/1926,Miss Claudia Rodriquez
2,Miss,Harry,Meyer,zuz@lo.wf,Female,51,CSX Corp.,Political Scientist,(539) 246-1806,A0Z 6P9,...,6300000000000000,02/2023,Switch,34.65,Black,186.150.187.29,Wednesday,pm,08/20/1931,Miss Harry Meyer
3,Miss,Edith,Gilbert,hansohsi@jupec.md,Female,55,Murphy Oil Corporation,Transportation Manager,(984) 962-7494,P9I 9H3,...,3530000000000000,02/2028,Maestro,64.59,White,80.140.57.161,Saturday,am,06/18/2001,Miss Edith Gilbert
4,Dr.,Lura,Murphy,webediti@je.st,Female,20,PETsMART Inc,Statistician,(902) 568-9748,S1A 6K0,...,4030000000000000,10/2025,Diners Club International,20.83,Yellow,211.103.43.41,Friday,pm,06/14/2045,Dr. Lura Murphy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,Mr.,John,Maxwell,larlisu@sejenu.ad,Female,38,Spherion Corp,Publishing Director,(873) 298-1178,V4U 0X2,...,6330000000000000,04/2028,Visa Electron,90.37,Red,194.14.119.109,Sunday,am,04/18/2014,Mr. John Maxwell
29996,Dr.,Alfred,Bass,le@duridzo.gh,Female,24,Ford Motor Co,Diamond Merchant,(541) 904-3323,T9O 1H6,...,201000000000000,12/2026,American Express,5.94,White,154.114.74.254,Sunday,pm,09/27/2068,Dr. Alfred Bass
29997,Mrs.,Edward,Curtis,ta@kucemah.et,Female,56,Park Place Entertainment Corp,Executive Director,(375) 931-8605,X5Z 4E1,...,201000000000000,06/2021,Maestro,65.66,Black,188.0.106.220,Monday,pm,09/07/1997,Mrs. Edward Curtis
29998,Mr.,Max,Woods,li@mincoz.mp,Female,64,Nacco Industries Inc,University Administrator,(786) 481-9627,G0S 9Q8,...,30000000000000,08/2023,Solo,52.66,Black,129.168.247.27,Monday,pm,09/08/1938,Mr. Max Woods
29999,Mr.,Olga,Rodriguez,ner@ota.ec,Male,22,Texas Industries Inc.,Leasing Manager,(841) 962-4087,N2D 5K3,...,6300000000000000,05/2024,InstaPayment,17.71,Yellow,70.2.107.65,Wednesday,am,06/22/1956,Mr. Olga Rodriguez

In [12]:
most_common_names = data['full_name'].value_counts().head(3)
print("Three most common customer names:")
print(most_common_names)

Three most common customer names:
full_name
Mr. Callie McCormick    3
Mrs. Pauline Bowers     3
Dr. Gavin Walsh         2
Name: count, dtype: int64

##     Two customers have the same phone number, can you find those customers?

In [13]:
duplicate_number = data[data.duplicated('phone', keep=False)]
print("Customers with duplicate phone numbers:")
print(duplicate_number[['full_name', 'phone']])

Customers with duplicate phone numbers:
           full_name           phone
15  Mrs. Lilly Tyler  (263) 382-8004
16   Mrs. Peter Cain  (263) 382-8004

##     How many customers have profession "Structural Engineer"?

In [14]:
structural_engineer_count = data[data['profession'] == 'Structural Engineer'].shape[0]
print(f" Number of customers with profession 'Structural Engineer': {structural_engineer_count}")

 Number of customers with profession 'Structural Engineer': 87

##   How many male customers are 'Structural Engineer'?

In [15]:
male_structural_engineer_count = data[(data['profession'] == 'Structural Engineer') & (data['gender'] == 'Male')].shape[0]
print(f"Number of male customers with profession 'Structural Engineer': {male_structural_engineer_count}")

Number of male customers with profession 'Structural Engineer': 43

## Find out the female Structural Engineers from province Alberta (AB)?

In [16]:
female_se_ab = data[(data['profession'] == 'Structural Engineer') & (data['gender'] == 'Female') & (data['province'] == 'AB')]
print("Female Structural Engineers from Alberta (AB):")
print(female_se_ab[['full_name', 'profession', 'gender', 'province']])

Female Structural Engineers from Alberta (AB):
                full_name           profession  gender province
8858      Dr. Roy Stanley  Structural Engineer  Female       AB
9058     Mr. Lora Kennedy  Structural Engineer  Female       AB
24736  Mrs. Nell Richards  Structural Engineer  Female       AB
29865   Mrs. Don McDaniel  Structural Engineer  Female       AB

##   What is the max, min and average spending?

In [17]:
max_spending = data['price(CAD)'].max()
min_spending = data['price(CAD)'].min()
avg_spending = data['price(CAD)'].mean()

In [18]:
print(f" Maximum spending ",{max_spending})
print(f" Minimum spending ",{min_spending})
print(f" Average spending ",{avg_spending})

 Maximum spending  {100.0}
 Minimum spending  {0.0}
 Average spending  {49.990775}

##  Who did not spend anything? Company wants to send a deal to encourage the customer to buy stuff!

In [19]:
zero_spenders = data[data['price(CAD)'] == 0]
zero_spenders

,prefix,first,last,email,gender,age,company,profession,phone,postal,...,cc_no,cc_exp,cc_type,price(CAD),fav_color,ip,weekday,ampm,date,full_name
5320,Dr.,Bruce,Bryan,ru@pubuspuh.cl,Male,59,Wal-Mart Stores Inc,Engineer Technician,(709) 446-8317,H6H 3Y0,...,201000000000000,04/2024,Bankcard,0.0,White,82.70.62.64,Wednesday,am,12/11/1900,Dr. Bruce Bryan
10597,Mrs.,Flora,Clark,wad@me.com,Female,27,MetLife Inc.,Cruise Director,(775) 373-6590,B2U 8K6,...,30100000000000,05/2020,Diners Club Carte Blanche,0.0,Red,231.156.15.63,Thursday,pm,08/22/1904,Mrs. Flora Clark

In [20]:
if zero_spenders.empty:
    min_spending = data['price(CAD)'].min()
    zero_spenders = data[data['price(CAD)'] == min_spending]

In [21]:
print("Customers who did not spend anything or spent the minimum amount:")
for index, row in zero_spenders.iterrows():
    print(f"{row['full_name']}")

Customers who did not spend anything or spent the minimum amount:
Dr. Bruce Bryan
Mrs. Flora Clark

##    As a loyalty reward, company wants to send thanks coupon to those who spent 100CAD or more, please find out the customers?

In [22]:
loyal_customers = data[data['price(CAD)'] >= 100]
print("Customers who spent 100CAD or more:")
for index, row in loyal_customers.iterrows():
    print(f"{row['full_name']}")

Customers who spent 100CAD or more:
Mrs. Gregory Brown
Mrs. Cody Christensen
Miss Lizzie Dixon

##    How many emails are associated with this credit card number '5020000000000230'?

In [23]:
data['cc_no'] = data['cc_no'].astype(str)
cc_number = '5020000000000230'
email_count = len(data[data['cc_no'] == cc_number]['email'])

print(f"Number of emails associated with credit card {cc_number}: {email_count}")

Number of emails associated with credit card 5020000000000230: 2

##    We need to send new cards to the customers well before the expire, how many cards are expiring in 2019?

In [24]:
data['cc_exp'] = pd.to_datetime(data['cc_exp'], format='%b-%y', errors='coerce')
data['cc_exp_year'] = data['cc_exp'].dt.year
cards_expiring_2019 = len(data[data['cc_exp_year'] == 2019])

print(f"Number of cards expiring in 2019: {cards_expiring_2019}")

Number of cards expiring in 2019: 0

##   How many people use Visa as their Credit Card Provider?

In [25]:
visa_users = len(data[data['cc_type'] == 'Visa'])
print(f"Number of people using Visa as their Credit Card Provider: {visa_users}")

Number of people using Visa as their Credit Card Provider: 1721

## Can you find the customer who spent 100 CAD using Visa?

In [26]:
customer = data[(data['price(CAD)'] == 100) & (data['cc_type'] == 'Visa')]
if not customer.empty:
  print(customer[['full_name', 'price(CAD)', 'cc_type']])
else:
  print("No customer found who spent exactly 100 CAD using Visa.")

             full_name  price(CAD) cc_type
76  Mrs. Gregory Brown       100.0    Visa

## What are two most common professions?

In [27]:
top_professions = data['profession'].value_counts().nlargest(2)
top_professions

profession
Preschool Teacher       112
Distribution Manager    107
Name: count, dtype: int64

##  Can you tell the top 5 most popular email providers? (e.g. gmail.com, yahoo.com, etc...)

In [28]:
# Extract the domain from the email addresses
data['email_domain'] = data['email'].str.split('@').str[1]

# Count the occurrences of each domain
domain_counts = data['email_domain'].value_counts()

# Get the top 5 most popular email providers
top_5_domains = domain_counts.head(5)

top_5_domains

email_domain
gmail.com      1687
me.com         1676
outlook.com    1664
live.com       1660
hotmail.com    1659
Name: count, dtype: int64

##   Is there any customer who is using email with "am.edu"?

In [29]:
# Check for customers using email with "am.edu"
am_edu_users = data[data['email'].str.contains('am.edu', na=False)]

# Print the result
if not am_edu_users.empty:
    print("Yes, there are customers using email with 'am.edu'.")
    print(am_edu_users)
else:
    print("No, there are no customers using email with 'am.edu'.")

Yes, there are customers using email with 'am.edu'.
    prefix    first      last         email  gender  age  \
150   Miss  Loretta  Fletcher  barit@am.edu  Female   48

                     company                profession           phone  \
150  York International Corp  Rehabilitation Counselor  (323) 279-8038

      postal  ...                             cc_type price(CAD) fav_color  \
150  E5X 8L0  ...  Diners Club United States & Canada      97.26     White

                 ip  weekday ampm        date              full_name  \
150  147.57.240.225   Monday   am  11/07/2066  Miss Loretta Fletcher

    cc_exp_year email_domain
150         NaN       am.edu

[1 rows x 23 columns]

##    Which day of the week, the store gets more customers?

In [30]:
# Calculate customer counts for each day of the week
day_counts = data['weekday'].value_counts()

# Find the day with the maximum customer count
busiest_day = day_counts.idxmax()

print(f"The store gets the most customers on {busiest_day}.")

The store gets the most customers on Saturday.